body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea;
	color: #4d4d4d;
	width: 100%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 {
    //text-align: center;
}
ul#sensor-list {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

li.sensor {
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 20px 10px 20px 10px;

    canvas {
        display: block;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    label {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}


